img {
    border-radius: 20px;
    aspect-ratio: 4/3;
    object-fit: cover;
    /* background-color: aqua; */
    width: 310px;

}

p, h2, h4 {
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 42px;
}

h4 {
    font-size: 28px;
    margin-bottom: 10px;
}

.exercice {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 40px;
}

.grille {
    width: 300px;
    margin-inline: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}

.colonne {
    max-width: 400px;
}

.single-card {
    background-color: rgb(234, 223, 223);
    padding: 28px;
    /* border: 1px solid rgba(0, 0, 0, 0.345); */
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 20px;
}
