/* CSS principal */
:root {
    --bg-principal: #0B0B14;
    --cartes-sections: #151326;
    --bg-accent: #211A3A;
    --titres-texte-important: #F5F3FF;
    --paragraphes: #B8B3CC;
    --text-discret: #777189;
    --boutons-liens: #8B5CF6;
    --violet-glow: #C084FC;
    --accent-premium: #F5C542;
    --border: #302A45;
    --border-hover: #8B5CF6;
    --hover: #A78BFA;
    --success: #34D399;
    --error: #F87171;

    --h2-size: 42px;
    --titlefont: 'Osheaga Title Font', sans-serif;
    --textfont: 'Osheaga Text Font', sans-serif;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--textfont);
    color: var(--paragraphes);
    padding: 60px 80px;
    /* background: linear-gradient(180deg,
    var(--bg-principal),
    var(--bg-accent),
    var(--bg-principal)); */
    background:
        radial-gradient(circle at 20% 30%,
            rgba(168, 135, 45, 0.15),
            transparent 45%),
        linear-gradient(180deg,
            var(--bg-principal),
            var(--bg-accent),
            var(--bg-principal));

    background-size: 200% 200%;
    animation: fondAnime 15s ease-in-out infinite alternate;
}

.conteneur-site {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

section {
    scroll-margin-top: 90px;
}

main {
    flex: 1;
}

h1,
h2,
a {
    color: var(--titres-texte-important);
    font-family: var(--titlefont);
    text-decoration: none;
}

p,
span {
    font-family: var(--textfont);
    font-size: 16px;
}


/* Fonts */
@font-face {
    font-family: 'Osheaga Title Font';
    src: url(fonts/roc-grotesk/Fontspring-DEMO-rocgrotesk-black.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Osheaga Text Font';
    src: url(fonts/neue-hass-grotesk-display-pro/NeueHaasDisplayMediu.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Animations */
@keyframes apparitionMeteo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fondAnime {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}


/* Header - index.html */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 80px;
}

.header-logo {
    width: min(600px, 80vw);
    padding: 40px 0 20px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 22px;
    gap: 50px;
    list-style: none;
}


/* Intro */
.intro {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000;

    z-index: 1000;

    transition: opacity 1.2s ease;
}

.logo-intro-anime,
.logo-intro-still {
    position: absolute;
    width: 1000px;
    max-width: 95vw;
}

.logo-intro-anime {
    opacity: 1;
    z-index: 1000;
    transition: opacity 0.15s ease;
}

.logo-intro-still {
    opacity: 0;
    z-index: 1001;

    transition:
        /* opacity 0.15s ease, */
        transform 1.2s ease,
        width 1.2s ease;
}

/* body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: #000;
    z-index: 999;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.8s ease;
} */

/* body.intro-terminee::before {
    opacity: 0;
} */

.intro.terminee {
    opacity: 0;
    pointer-events: none;
}

/* .logo-intro-still.disparait {
    opacity: 0;
    transition: opacity 0.4s ease;
} */

/* Section ADN - index.html */
#a-propos h1,
.main-horaire h1 {
    letter-spacing: 2px;
    font-size: 72px;
    line-height: 120%;
    margin: 0 0 8px;
    max-width: 1260px;
    width: 100%;
}

#a-propos span {
    font-size: var(--h2-size);
    font-weight: 600;
    line-height: 50px;
}

.paragraphe {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    max-width: 850px;
    font-size: 20px;
    margin-top: 50px;
}


/* Section Artistes - index.html */
#artistes-vedette {
    display: flex;
    flex-direction: column;
    perspective: 1000px;
    margin-bottom: 50px;
}

#artistes-vedette h2 {
    font-size: var(--h2-size);
    line-height: 60px;
    text-align: center;
}

.les-cartes-artistes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
}

.carte-artiste {
    background-color: var(--cartes-sections);
    border-radius: 10px;
    font-family: var(--textfont);
    overflow: hidden;
    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease;
    transform-style: preserve-3d;
}

.carte-artiste:hover {
    transform:
        translateZ(40px) scale(1.03);
    box-shadow:
        0 25px 50px rgba(0, 0, 0, 0.35),
        0 0 25px rgba(192, 132, 252, 0.25);
}

.carte-artiste img {
    width: 300px;
    max-width: 100%;
    border-radius: 8px 7px 0 0;
    transition: transform 0.3s ease;
}

.content-artist {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.content-artist p {
    margin: 5px 0;
}


/* Section FAQ - index.html*/
#FAQ {
    background-color: var(--cartes-sections);
    border-radius: 25px;
    padding: 40px 50px;
    max-width: 900px;
    margin: 0 auto;
}

#FAQ h2 {
    font-size: var(--h2-size);
    line-height: 63px;
}

#FAQ h3 {
    font-family: var(--textfont);
}

#FAQ a {
    font-family: var(--textfont);
}

.questionFAQ:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.questionFAQ {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.questionFAQ h3 {
    margin: 0;
    font-size: 20px;
    padding: 25px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionFAQ h3::after {
    content: "\𖤂";
    font-size: 15px;
    transition: transform 0.5s ease;
}

.questionFAQ.ouvert h3::after {
    transform: rotate(180deg);
}

.questionFAQ p {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 0;
    padding: 0 20px;
    transform: translateY(-8px);
    transition:
        max-height 0.5s ease,
        opacity 0.5s ease,
        transform 0.5s ease,
        padding 0.5s ease;
}

.questionFAQ.ouvert p {
    max-height: 200px;
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 20px;
    transform: translateY(0);
}


/* Section Météo - index.html */
#meteo h2 {
    font-size: var(--h2-size);
}

#btnMeteo {
    background: none;
    border: none;
    padding: 0;

    color: var(--titres-texte-important);
    font-family: 'Osheaga Title Font', sans-serif;
    font-size: var(--h2-size);

    cursor: pointer;

    transition:
        color 0.3s ease,
        transform 0.3s ease,
        text-shadow 0.3s ease;
}

.titre-meteo p {
    color: var(--text-discret);
    font-size: 14px;
    margin-top: 5px;
}

#message-meteo {
    margin-top: -30px;
    font-size: 16px;
}

#carte-meteo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.carte-jour {
    background-color: var(--cartes-sections);
    width: 220px;
    border-radius: 20px;
    padding: 25px;
    border: 1px solid var(--border);
    text-align: center;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border-color 0.3s ease;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation: apparitionMeteo 0.8s ease forwards;
    opacity: 0;

    font-family: var(--textfont);
}

.carte-jour:hover {
    transform: scale(1.01);
    border-color: var(--border-hover);
    box-shadow:
        0 15px 30px rgba(0, 0, 0, 0.35),
        0 0 10px rgba(192, 132, 252, 0.25);
}

.carte-jour:hover .icone-meteo {
    transform: scale(1.15);
}

.icone-meteo {
    width: 100px;
    height: 100px;
    transition: transform 0.4s ease;
}

.temp {
    font-size: 28px;
    color: var(--titres-texte-important);
    text-shadow:
        0 0 8px rgba(255, 255, 255, 0.25);
    margin: 5px 0;
}


/* Footer */
footer {
    padding: 60px 40px 20px;
}

.footer-haut {
    display: flex;
    align-items: center;
}

.footer-logo,
.footer-contact {
    flex: 1;
}

.footer-logo img {
    width: 300px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
}

.footer-contact p {
    margin: 0;
}

.footer-bas {
    display: flex;
    justify-content: center;
}


/* horaire.html */
.grille-horaire {
    display: grid;
    grid-template-columns: 80px repeat(7, 1fr);
    grid-template-rows: 60px repeat(5, 80px);

    width: 90%;
    max-width: 2200px;
    margin: 0 auto;
}

.date-column {
    display: grid;
    grid-row: 1 / -1;
    grid-template-rows: subgrid;
    border: 2px solid var(--cartes-sections);
}

.date {
    margin: 0;
    color: var(--titres-texte-important);

    display: flex;
    justify-content: center;
    align-items: center;
}

.time-column {
    display: grid;
    grid-row: 1 / -1;
    grid-template-rows: subgrid;
}


.time {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-discret);
}

.time-slot {
    border: 2px solid var(--cartes-sections);
}

.show {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: grey;
}

.show-artist {
    color: var(--titres-texte-important);
}

/* .show.moon {
    border-left: 4px solid;
}

.show.sunset {
    border-left: 4px solid;
} */

/* form.html */
.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #2b224b3b;
    width: 100%;
    max-width: 600px;
    height: 550px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.form-labels-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background: #efede8;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: var(--textfont);
    box-shadow: inset 3px 3px 6px #e6e2d5,
        inset -3px -3px 6px #ffffff;
}

.textarea {
    background: #efede8;
    border: none;
    border-radius: 10px;
    font-family: var(--textfont);
    font-size: 14px;
    line-height: 1.4;
    outline: none;
    transition: all 0.2s ease;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: inset 3px 3px 6px #d1cfca, inset -3px -3px 6px #ffffff;
}

.textarea:focus {
    box-shadow:
        inset 5px 5px 10px #d1cfca,
        inset -5px -5px 10px #ffffff,
        0 0 1px rgba(147, 106, 3, 0.25);
}

.textarea::placeholder {
    color: #666666;
    opacity: 1;
}

.champ-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.champ-titre {
    margin-bottom: 20px;
}

.message-erreur {
    margin: 0;
    color: var(--error);
    font-size: 14px;
    visibility: hidden;
    height: 18px;
}

.message-erreur.message-visible {
    visibility: visible;
}

/* From Uiverse.io by gharsh11032000 */
.animated-button {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #F2DAA9;
    box-shadow: 0 0 0 2px #F2DAA9;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #F2DAA9;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #F2DAA9;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #F2DAA9;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}